<h2>Выберите метод:</h2>

    <ul>
        <li><a href="/Calculator/ManualParsingSingle">Manual Parsing (Single Action)</a></li>
        <li><a href="/Calculator/ManualParsingSeparate">Manual Parsing (Separate Action)</a></li>
        <li><a href="/Calculator/ModelBindingParams">Model Binding (Parameters)</a></li>
        <li><a href="/Calculator/ModelBindingModel">Model Binding (Separate Model)</a></li>
    </ul>
