<h2>ManualWithSeparateHandlers</h2>
<form asp-action="ManualParsingSeparate" method="post">
    <div>    
        <input type="number" name="number1" placeholder="Number 1" />
    </div>

    <div>
        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
    </div>

    <div>
        <input type="number" name="number2" placeholder="Number 2" />
    </div>
        <button type="submit">Submit</button>
    </form>

